<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <profiles>
	   <profile>
		  	<id>env-dev</id>
		  	<properties>
			<default.dryad.home>vagrant-dryad</default.dryad.home>
			<default.dspace.dir>/opt/dryad</default.dspace.dir>
			<default.dspace.hostname>localhost</default.dspace.hostname>
			<default.dspace.port>9999</default.dspace.port>
			<default.dspace.url>http://localhost:9999</default.dspace.url>
			<default.db.url>jdbc:postgresql://127.0.0.1:5432/dryad_repo</default.db.url>
			<default.db.username>dryad_app</default.db.username>
			<default.db.password>sidwell</default.db.password>
			<default.harvester.eperson>root@localhost</default.harvester.eperson>
			<default.solr.search.server>http://localhost:9999/solr/search/</default.solr.search.server>
			<default.solr.stats.server>http://localhost:9999/solr/statistics</default.solr.stats.server>
			<default.solr.dryad.server>http://localhost:9999/solr/dryad</default.solr.dryad.server>
			<default.solr.authority.server>http://localhost:9999/solr/authority</default.solr.authority.server>
			<default.solr.log.dataonemn.server>http://localhost:9999/solr/dataoneMNlog</default.solr.log.dataonemn.server>
			<default.doi.username>dryad</default.doi.username>
			<default.doi.password>None</default.doi.password>
			<default.doi.prefix>10.5061</default.doi.prefix>
			<default.doi.testprefix>10.5072</default.doi.testprefix>
			<default.doi.localpart.testsuffix>FK2.5061.dryad.</default.doi.localpart.testsuffix>
			<default.doi.testmode>true</default.doi.testmode>
			<default.dryad.localize>true</default.dryad.localize>
			<default.doi.datacite.connected>false</default.doi.datacite.connected>
			<default.doi.service>http://localhost:9999/doi</default.doi.service>
			<default.mail.server>localhost</default.mail.server>
				<default.mail.server.username></default.mail.server.username>
				<default.mail.server.password></default.mail.server.password>
			<default.mail.extraproperties>mail.smtp.socketFactory.port=1025</default.mail.extraproperties>
					<default.mail.admin>root@localhost</default.mail.admin>
					<default.mail.help>root@localhost</default.mail.help>
			<default.subscribe_mailinglist.recipient>root@localhost</default.subscribe_mailinglist.recipient>
			<default.membership.recipient>root@localhost</default.membership.recipient>
					<default.harvester.eperson>root@localhost</default.harvester.eperson>
			<default.bagit.executable>/home/dryad/bagit-3.4/bin/bag</default.bagit.executable>
			<default.bagit.testing.mode>true</default.bagit.testing.mode>


			<!-- Journal-submit -->
			<default.submit.journal.config>/opt/dryad/config/DryadJournalSubmission.testing.properties</default.submit.journal.config>
			<default.submit.journal.email>dryad.journal.submit@gmail.com</default.submit.journal.email>
			<default.submit.journal.label>test-journal-submit</default.submit.journal.label>
			<default.submit.journal.email.timer>3600</default.submit.journal.email.timer>                
				
			<default.submit.journal.clientsecret>{"installed":{"client_id":"239959048910-8l75ifpqj2mt9dsutubr4nbcprn9h6ev.apps.googleusercontent.com","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://accounts.google.com/o/oauth2/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"SFQUe2ELv1EjuQSWOkc5TfOj","redirect_uris":["urn:ietf:wg:oauth:2.0:oob","http://localhost"]}}</default.submit.journal.clientsecret>   
				
			<!-- Payment System -->
			<paypal.vendor></paypal.vendor>
			<paypal.user></paypal.user>
			<paypal.pwd></paypal.pwd>
			<paypal.payflow.link>https://pilot-payflowpro.paypal.com/</paypal.payflow.link>
			<paypal.link>https://payflowlink.paypal.com</paypal.link>
			<paypal.partner>PayPal</paypal.partner>
			<paypal.verbosity>HIGH</paypal.verbosity>
			<paypal.slienttran>TRUE</paypal.slienttran>
			<paypal.mode>test</paypal.mode>
			<!-- Response Logging -->
			<default.solr.responselogging.server>http://localhost:9999/solr/responselogging</default.solr.responselogging.server>
		  </properties>
 	</profile>
  </profiles>
</settings>
